*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
 .logo{
    width: 139px;
    height: 60px;
 }

header{
    background-color: #FFFFFF;

}
.nav{
    display: flex;
    padding: 16px 120px;
    max-width: 1600px;
   justify-content: space-between;
   align-items: center;
}

nav .menu {
    margin: 0 24px ;
    list-style-type: none;
    max-width: 367px;
    max-height: 24px;
    display: flex;
    gap: 32px;
    
}
nav .menu a{
    text-decoration: none;
    font-size: 16;
   font-weight: 500;
   color: #000000;
   line-height: 152%;
 
}
nav .btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
   
}

#banner{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 674px;
    justify-content: center;
    padding: 70px 120px;
    flex-direction: column;
}
#banner .banner-content{
    text-align: center;
    width: 1360px;
    height: 379px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}
#banner .banner-content .banner-button1{
    box-sizing: border-box;
  width: 229px;
  height: 35px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background: #eefaf3;
  border: 1px solid #d8f0e3;
  border-radius: 999px;
   font-style: medium;
  font-size: 16px;
  font-weight: 500;
  color: #6fbf9c;
}
#banner .banner-content .banner-button1 .dot{
   width: 8px;
  height: 8px;
  background:rgba(70, 145, 101, 1);
  border-radius: 50%;
  box-shadow: 0 0 6px 2px rgba(70, 145, 101, 1);
  margin-right: 6px;
 
}
#banner .banner-content h1{
    width: 770px;
    height: 168px;
    font-style: bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 0%;
    text-transform: capitalize;
}
#banner .banner-content p{
    width: 1360px;
    height: 60px;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}
#banner .banner-content .banner-btn{
    width:480px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    align-content: center;
 
}
#banner .banner-content .banner-button2{
    width: 251;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
#banner .banner-content .banner-button2 .arrow{
    width: 20px;
    height: 20px;
   justify-content: center;
   display: flex;
   

}
 #banner .banner-content .banner-button3{
    width: 198px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1) ;
    
}
 #banner .banner-content .banner-button3 .play{
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
   justify-content: center;
   display: flex;
   
    
 }
#note{
    width: 1600px;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 44;
    padding: 50px;
   
}
#note .note-heading h2{
        max-width: 1360px;
       margin: 0 auto 8px;
       font-size: 48px;
       font-weight: 700;
       line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #001931;
    
}
#note .note-heading p{
    max-width: 1360px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #627382;
}
#note .card{
    display: flex;
    margin-top: 44px;
    justify-content: center;
    align-items: center;
    
}
#note .card .card-info{
  
    display: flex;               
  flex-direction: column;       
  align-items: center;          
  justify-content: center;      

  padding: 24px;
  box-shadow: 0 0 8px 0 #00000027;
  max-width: 322px;
  height: 300px;
  background: #fff;
  gap: 16px;
  border-radius: 8px;
}

 #note .card .card-info .img-background{
   height: 60px;
   width: 60px;
   background: rgba(249,85,85,1);
   border-radius: 50%;
   align-items: center;
   display: flex;
   justify-content: center;


}
 #note .card .card-info img{
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
 }
#note .card .card-info h3,
#note .card .card-info p {
  text-align: center;
}
#note .card .card-info h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
}
#note .card .card-info p{
    width: 274px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
#second-brain{
    width: 1360px;
    height: 600px;
   padding: 120px;
    display: flex;
    justify-content: flex-start;
    padding:120px;

}

#second-brain .brain-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    margin-left: 120px;


}
#second-brain .section-contain{
   max-width: 700px;
   padding-left: 78px;
   display: flex;
   flex-direction: column;
   gap: 16px; 
   margin-top: 70px;
 
}
#second-brain .section-contain h4{
    width: 700px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #469165;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}
#second-brain .section-contain h3{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #001931;
  margin: 0;
}
#second-brain .section-contain p{
   font-size: 16px;      
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin: 0;
}
#second-brain .section-contain ul{
list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

}

#second-brain .section-contain ul li {
  display: flex;            
  align-items: flex-start;  
  gap: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
}

#second-brain .section-contain ul li img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}