*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
 .logo{
    width: 139px;
    height: 60px;
 }

header{
    background-color: #FFFFFF;

}
.nav{
    display: flex;
    padding: 16px 120px;
    max-width: 1600px;
   justify-content: space-between;
   align-items: center;
}

nav .menu {
    margin: 0 24px ;
    list-style-type: none;
    max-width: 367px;
    max-height: 24px;
    display: flex;
    gap: 32px;
    
}
nav .menu a{
    text-decoration: none;
    font-size: 16;
   font-weight: 500;
   color: #000000;
   line-height: 152%;
 
}
nav .btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
   
}

#banner{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 674px;
    justify-content: center;
    padding: 70px 120px;
    flex-direction: column;
}
#banner .banner-content{
    text-align: center;
    width: 1360px;
    height: 379px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}
#banner .banner-content .banner-button1{
    box-sizing: border-box;
  width: 229px;
  height: 35px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background: #eefaf3;
  border: 1px solid #d8f0e3;
  border-radius: 999px;
   font-style: medium;
  font-size: 16px;
  font-weight: 500;
  color: #6fbf9c;
}
#banner .banner-content .banner-button1 .dot{
   width: 8px;
  height: 8px;
  background:rgba(70, 145, 101, 1);
  border-radius: 50%;
  box-shadow: 0 0 6px 2px rgba(70, 145, 101, 1);
  margin-right: 6px;
 
}
#banner .banner-content h1{
    width: 770px;
    height: 168px;
    font-style: bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 0%;
    text-transform: capitalize;
}
#banner .banner-content p{
    width: 1360px;
    height: 60px;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}
#banner .banner-content .banner-btn{
    width:480px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    align-content: center;
 
}
#banner .banner-content .banner-button2{
    width: 251;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
#banner .banner-content .banner-button2 .arrow{
    width: 30px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    padding: 3px 2px;
    margin: 0;
    font-size: 25px;
    font-weight: 700;
   justify-content: center;
   display: flex;
   

}
 #banner .banner-content .banner-button3{
    width: 198px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1) ;
    
}
 #banner .banner-content .banner-button3 .play{
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
   justify-content: center;
   display: flex;
   
    
 }
